* {
  margin: 0;
  padding: 0;
  color: white;
}

html {
  font-family: 'Roboto';
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  min-height: 100%;
}

.btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 0.8rem;
  color: white;
  padding: 1rem 2rem;
  background-color: transparent;
  border-radius: 2rem;
  cursor: pointer;
}

.btn:hover {
  background-color: gold;
  color: black;
}

.app-contents {
  /* padding: .5rem 2rem; */
  /* margin-top: 2rem; */
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: space-between; */
  background-color: red;
}
