@import url('https://fonts.cdnfonts.com/css/clash-display?styles=106288,106285,106286,106287,106289,106284');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;500;600;700;900&family=Outfit:wght@200;300;400;500;600;700;800;900&family=Roboto+Condensed:wght@300;400;700&display=swap');
@import url('./assets/clash-display.css');
@tailwind base;
@tailwind components;
@tailwind utilities;
.clash {
  font-family: 'ClashDisplay-Variable';
}
.Outfit {
  font-family: 'Outfit';
}
html {
  font-size: 62.5%;
  font-family: 'ClashDisplay-Variable';
}
@media screen and (min-width: 1600px) {
  html {
    font-size: 75%;
  }
}
@media screen and (max-width: 1250px) {
  html {
    font-size: 50%;
  }
}
@media screen and (max-width: 1000px) {
  html {
    font-size: 45%;
  }
}
.gradient-text {
  background: linear-gradient(180deg, #e8296f 0%, #b21be2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.bg-gradient {
  background: linear-gradient(180deg, #e8296f 0%, #b21be2 100%);
  box-shadow: 0px 0px 20px rgba(203, 170, 110, 0.3);
}
body {
  background-color: #000;
  font-family: 'ClashDisplay-Variable';
}
.bg1 {
  background-image: url(assets/images/bg1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg2 {
  background-image: url(assets/images/bg2.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg3 {
  background-image: url(assets/images/bg3.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg4 {
  background-image: url(assets/images/bg4.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
